Django==2.2.28
djangorestframework==3.13.1
django-filter==21.1
flake8
pytest
pytz==2022.1
isort
psycopg2-binary==2.8.6
Pillow==8.4.0
python-dotenv
drf-extra-fields==3.2.1
gunicorn==20.1.0
sqlparse==0.4.2
djoser==2.1.0
django-extensions==3.1.5
python-decouple==3.5
django-colorfield==0.7.2
